node_modules
dist
dev-dist
.env
.env.*
!.env.example
*.log
android/app/build
android/build
android/.gradle
android/.idea
android/local.properties
ios/App/Pods
ios/App/build
ios/App/App.xcworkspace/xcuserdata
*.tsbuildinfo
vite.config.js
vite.config.d.ts
capacitor.config.js
capacitor.config.d.ts
